.textMessage {
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  color: rgb(207, 76, 5);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0%,
  100% {
    font-size: 24px;
  }
  50% {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .textMessage {
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
  }
  @keyframes pulse {
    0%,
    100% {
      font-size: 14px;
    }
    50% {
      font-size: 26px;
    }
  }
}
